In [11]:
import pandas as pd

## Import the data and explore it
Steps will be:
- Import the data
- Check out the data
- Check the info
- Describe the data
- Check the shape

In [23]:
# Import the data
aviation_data_raw = pd.read_csv("data/Aviation_Data.csv")

/Users/willbennett/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
# Check out the data
aviation_data_raw

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [21]:
# Check the information of the data set
aviation_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

**Observations**
- It looks like we have mostly strings, with 5 numbers at the moment
- We will have to handle dates
- There are a significant number of nulls

In [44]:
# Describe the numerical data
aviation_data_raw.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [45]:
# Describle the non-numerical data
aviation_data_raw.describe(include=object)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,88889,90348,88889,88889,88837,88663,34382,34373,50249,52790,...,88787,81812,32023,12582,82697,16648,84397,61724,82508,73659
unique,87951,71,88863,14782,27758,219,25592,27156,10375,24871,...,2,13,31,3,26,13590,4,12,17007,2923
top,20001214X45071,Accident,DCA22WA204,1982-05-16,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,80312,69530,18221,4474,49448,258,77303,15428,61754,16317

In [26]:
# Check the shape
aviation_data_raw.shape

(90348, 31)

In [52]:
# Create a copy for cleaning
aviation_data_cleaned = aviation_data_raw

## Handling Column Names
We will start by cleaning the column names so that they will be easy to access
We will:
- Strip spaces
- Replace periods with underscores
- lowercase all column names

In [54]:
# Check out column names
aviation_data_cleaned.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [57]:
# Start by stripping white space
aviation_data_cleaned.columns = aviation_data_cleaned.columns.str.strip()
aviation_data_cleaned.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [61]:
# Replace . with _
aviation_data_cleaned.columns = aviation_data_cleaned.columns.str.replace(".","_")
aviation_data_cleaned.columns

Index(['Event_Id', 'Investigation_Type', 'Accident_Number', 'Event_Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport_Code',
       'Airport_Name', 'Injury_Severity', 'Aircraft_damage',
       'Aircraft_Category', 'Registration_Number', 'Make', 'Model',
       'Amateur_Built', 'Number_of_Engines', 'Engine_Type', 'FAR_Description',
       'Schedule', 'Purpose_of_flight', 'Air_carrier', 'Total_Fatal_Injuries',
       'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured',
       'Weather_Condition', 'Broad_phase_of_flight', 'Report_Status',
       'Publication_Date'],
      dtype='object')

In [63]:
# Lowercase all names
aviation_data_cleaned.columns = aviation_data_cleaned.columns.str.lower()
aviation_data_cleaned.columns

Index(['event_id', 'investigation_type', 'accident_number', 'event_date',
       'location', 'country', 'latitude', 'longitude', 'airport_code',
       'airport_name', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'registration_number', 'make', 'model',
       'amateur_built', 'number_of_engines', 'engine_type', 'far_description',
       'schedule', 'purpose_of_flight', 'air_carrier', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status',
       'publication_date'],
      dtype='object')

## Handling Duplicate
We will check for duplicates and see how we should handle them

In [64]:
#Check for duplicates
aviation_data_raw.duplicated().value_counts()

False    88958
True      1390
dtype: int64

In [65]:
# Investigated duplicates
aviation_data_raw[aviation_data_raw.duplicated(keep=False)]

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
64030,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64050,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90004,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90010,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90031,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90090,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90097,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The duplicates seem to be mostly empty data, we can drop these rows

In [66]:
# Drop the duplicates
aviation_data_cleaned = aviation_data_raw.drop_duplicates()

In [67]:
#Confirm there are no duplicates in the cleaned data
aviation_data_cleaned.duplicated().value_counts()

False    88958
dtype: int64

In [68]:
# Check out dataframe
aviation_data_cleaned.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

### Removing undesired data 
We don't want all the data so let's remove what we don't want
- We only want USA based planes
- We don't want amateur built planes
- We don't want old data

In [84]:
# Investigate the data
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88959 entries, 0 to event_date
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88958 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  object
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50249 non-null  object
 9   airport_name            52790 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87572 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81812 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  float64
 24  total_serious_injuries  76379 non-null  float64
 25  total_minor_injuries    76956 non-null  float64
 26  total_uninjured         82977 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82508 non-null  object
 30  publication_date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 24.2+ MB

In [87]:
# Including data only from the USA
usa_filter = aviation_data_cleaned['country'] == 'United States'
aviation_data_cleaned = aviation_data_cleaned[usa_filter]

In [88]:
# Check the value counts of country
aviation_data_cleaned['country'].value_counts()

United States    82248
Name: country, dtype: int64

In [90]:
# Drop the column since there is now only one value
aviation_data_cleaned = aviation_data_cleaned.drop('country', axis=1)
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82248 entries, 0 to 90347
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                82248 non-null  object
 1   investigation_type      82248 non-null  object
 2   accident_number         82248 non-null  object
 3   event_date              82248 non-null  object
 4   location                82237 non-null  object
 5   latitude                32265 non-null  object
 6   longitude               32255 non-null  object
 7   airport_code            49189 non-null  object
 8   airport_name            51654 non-null  object
 9   injury_severity         82140 non-null  object
 10  aircraft_damage         80269 non-null  object
 11  aircraft_category       28154 non-null  object
 12  registration_number     82197 non-null  object
 13  make                    82227 non-null  object
 14  model                   82210 non-null  object
 15  amateur_built           82227 non-null  object
 16  number_of_engines       80373 non-null  float64
 17  engine_type             79225 non-null  object
 18  far_description         28225 non-null  object
 19  schedule                10297 non-null  object
 20  purpose_of_flight       79819 non-null  object
 21  air_carrier             14495 non-null  object
 22  total_fatal_injuries    71594 non-null  float64
 23  total_serious_injuries  70873 non-null  float64
 24  total_minor_injuries    71519 non-null  float64
 25  total_uninjured         77243 non-null  float64
 26  weather_condition       81603 non-null  object
 27  broad_phase_of_flight   61158 non-null  object
 28  report_status           79637 non-null  object
 29  publication_date        68110 non-null  object
dtypes: float64(5), object(25)
memory usage: 19.5+ MB

**Removing Amateur Built Airplanes**

In [91]:
# Check out the data for amateur_built column
aviation_data_cleaned['amateur_built'].value_counts()

No     73906
Yes     8321
Name: amateur_built, dtype: int64

In [92]:
# We don't want any amateur built airplanes so let's remove the data 
pro_filter = aviation_data_cleaned['amateur_built'] == 'No'
aviation_data_cleaned = aviation_data_cleaned[pro_filter]

In [93]:
# Now drop the amateur_built column since all remaining aircraft are professionally built
aviation_data_cleaned = aviation_data_cleaned.drop('amateur_built', axis=1)
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73906 entries, 0 to 90347
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                73906 non-null  object
 1   investigation_type      73906 non-null  object
 2   accident_number         73906 non-null  object
 3   event_date              73906 non-null  object
 4   location                73896 non-null  object
 5   latitude                28123 non-null  object
 6   longitude               28116 non-null  object
 7   airport_code            44033 non-null  object
 8   airport_name            46285 non-null  object
 9   injury_severity         73798 non-null  object
 10  aircraft_damage         71949 non-null  object
 11  aircraft_category       24697 non-null  object
 12  registration_number     73856 non-null  object
 13  make                    73897 non-null  object
 14  model                   73891 non-null  object
 15  number_of_engines       72237 non-null  float64
 16  engine_type             71156 non-null  object
 17  far_description         24767 non-null  object
 18  schedule                10093 non-null  object
 19  purpose_of_flight       71481 non-null  object
 20  air_carrier             13518 non-null  object
 21  total_fatal_injuries    64425 non-null  float64
 22  total_serious_injuries  63850 non-null  float64
 23  total_minor_injuries    64443 non-null  float64
 24  total_uninjured         69830 non-null  float64
 25  weather_condition       73285 non-null  object
 26  broad_phase_of_flight   55594 non-null  object
 27  report_status           71576 non-null  object
 28  publication_date        60870 non-null  object
dtypes: float64(5), object(24)
memory usage: 16.9+ MB

**Removing Old Data**

The dates are in the `Event.Date` column in the format 'YYYY-MM-DD'

In [99]:
# Check chaging the Event.Date column to dates
pd.to_datetime(aviation_data_cleaned['event_date']).head()

0   1948-10-24
1   1962-07-19
2   1974-08-30
3   1977-06-19
4   1979-08-02
Name: event_date, dtype: datetime64[ns]

In [102]:
# Update the column to the correct datetime type
aviation_data_cleaned['event_date'] = pd.to_datetime(aviation_data_cleaned['event_date'])

In [103]:
# Confirm that it worked
aviation_data_cleaned['event_date'].head()

0   1948-10-24
1   1962-07-19
2   1974-08-30
3   1977-06-19
4   1979-08-02
Name: event_date, dtype: datetime64[ns]

In [104]:
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73907 entries, 0 to event_date
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                73906 non-null  object
 1   investigation_type      73906 non-null  object
 2   accident_number         73906 non-null  object
 3   event_date              73906 non-null  datetime64[ns]
 4   location                73896 non-null  object
 5   latitude                28123 non-null  object
 6   longitude               28116 non-null  object
 7   airport_code            44033 non-null  object
 8   airport_name            46285 non-null  object
 9   injury_severity         73798 non-null  object
 10  aircraft_damage         71949 non-null  object
 11  aircraft_category       24697 non-null  object
 12  registration_number     73856 non-null  object
 13  make                    73897 non-null  object
 14  model                   73891 non-null  object
 15  number_of_engines       72237 non-null  object
 16  engine_type             71156 non-null  object
 17  far_description         24767 non-null  object
 18  schedule                10093 non-null  object
 19  purpose_of_flight       71481 non-null  object
 20  air_carrier             13518 non-null  object
 21  total_fatal_injuries    64425 non-null  object
 22  total_serious_injuries  63850 non-null  object
 23  total_minor_injuries    64443 non-null  object
 24  total_uninjured         69830 non-null  object
 25  weather_condition       73285 non-null  object
 26  broad_phase_of_flight   55594 non-null  object
 27  report_status           71576 non-null  object
 28  publication_date        60870 non-null  object
dtypes: datetime64[ns](1), object(28)
memory usage: 19.4+ MB

Great! It looks like it worked, now let's investigate the timframes we are working with

In [114]:
aviation_data_cleaned['event_date'].dt.year.value_counts()

1982.0    3318
1983.0    3237
1984.0    3190
1985.0    2882
1986.0    2644
1987.0    2617
1988.0    2494
1989.0    2323
1990.0    2278
1991.0    2219
1992.0    2052
1993.0    2041
1995.0    1993
1994.0    1981
1996.0    1900
1999.0    1845
1997.0    1839
1998.0    1830
2000.0    1798
2003.0    1715
2001.0    1677
2002.0    1647
2005.0    1622
2007.0    1594
2004.0    1581
2008.0    1485
2006.0    1446
2011.0    1382
2010.0    1364
2009.0    1363
2012.0    1356
2016.0    1166
2013.0    1162
2018.0    1154
2017.0    1142
2022.0    1131
2015.0    1130
2019.0    1128
2014.0    1119
2021.0    1067
2020.0     987
1979.0       2
1981.0       1
1977.0       1
1974.0       1
1962.0       1
1948.0       1
Name: event_date, dtype: int64

In [116]:
# There are only a few datapoints before 1082 so let's remove them
aviation_data_cleaned = aviation_data_cleaned[aviation_data_cleaned['event_date'].dt.year >= 1982]

In [117]:
# Check to make sure we now only have the dates we want
aviation_data_cleaned['event_date'].dt.year.value_counts()

1982    3318
1983    3237
1984    3190
1985    2882
1986    2644
1987    2617
1988    2494
1989    2323
1990    2278
1991    2219
1992    2052
1993    2041
1995    1993
1994    1981
1996    1900
1999    1845
1997    1839
1998    1830
2000    1798
2003    1715
2001    1677
2002    1647
2005    1622
2007    1594
2004    1581
2008    1485
2006    1446
2011    1382
2010    1364
2009    1363
2012    1356
2016    1166
2013    1162
2018    1154
2017    1142
2022    1131
2015    1130
2019    1128
2014    1119
2021    1067
2020     987
Name: event_date, dtype: int64

## Filtering

In [8]:
usa_filter = full_dataset['Country'] == 'United States'
aviation_data_cleaned = full_dataset[usa_filter]

In [9]:
aviation_data_cleaned.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980