In [1]:
import pandas as pd

## Import the data and explore it
Steps will be:
- Import the data
- Check out the data
- Check the info
- Describe the data
- Check the shape

In [2]:
# Import the data
aviation_data_raw = pd.read_csv("data/Aviation_Data.csv")

/Users/willbennett/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# Check out the data
aviation_data_raw

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [4]:
# Check the information of the data set
aviation_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

**Observations**
- It looks like we have mostly strings, with 5 numbers at the moment
- We will have to handle dates
- There are a significant number of nulls

In [5]:
# Describe the numerical data
aviation_data_raw.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [6]:
# Describle the non-numerical data
aviation_data_raw.describe(include=object)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,88889,90348,88889,88889,88837,88663,34382,34373,50249,52790,...,88787,81812,32023,12582,82697,16648,84397,61724,82508,73659
unique,87951,71,88863,14782,27758,219,25592,27156,10375,24871,...,2,13,31,3,26,13590,4,12,17007,2923
top,20001212X19172,Accident,CEN22LA346,1982-05-16,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,80312,69530,18221,4474,49448,258,77303,15428,61754,16317

In [7]:
# Check the shape
aviation_data_raw.shape

(90348, 31)

In [8]:
# Create a copy for cleaning
aviation_data_cleaned = aviation_data_raw

## Handling Column Names
We will start by cleaning the column names so that they will be easy to access
We will:
- Strip spaces
- Replace periods with underscores
- lowercase all column names

In [9]:
# Check out column names
aviation_data_cleaned.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [10]:
# Start by stripping white space
aviation_data_cleaned.columns = aviation_data_cleaned.columns.str.strip()
aviation_data_cleaned.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [11]:
# Replace . with _
aviation_data_cleaned.columns = aviation_data_cleaned.columns.str.replace(".","_")
aviation_data_cleaned.columns

Index(['Event_Id', 'Investigation_Type', 'Accident_Number', 'Event_Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport_Code',
       'Airport_Name', 'Injury_Severity', 'Aircraft_damage',
       'Aircraft_Category', 'Registration_Number', 'Make', 'Model',
       'Amateur_Built', 'Number_of_Engines', 'Engine_Type', 'FAR_Description',
       'Schedule', 'Purpose_of_flight', 'Air_carrier', 'Total_Fatal_Injuries',
       'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured',
       'Weather_Condition', 'Broad_phase_of_flight', 'Report_Status',
       'Publication_Date'],
      dtype='object')

In [12]:
# Lowercase all names
aviation_data_cleaned.columns = aviation_data_cleaned.columns.str.lower()
aviation_data_cleaned.columns

Index(['event_id', 'investigation_type', 'accident_number', 'event_date',
       'location', 'country', 'latitude', 'longitude', 'airport_code',
       'airport_name', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'registration_number', 'make', 'model',
       'amateur_built', 'number_of_engines', 'engine_type', 'far_description',
       'schedule', 'purpose_of_flight', 'air_carrier', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status',
       'publication_date'],
      dtype='object')

## Handling Duplicate
We will check for duplicates and see how we should handle them

In [13]:
#Check for duplicates
aviation_data_raw.duplicated().value_counts()

False    88958
True      1390
dtype: int64

In [14]:
# Investigated duplicates
aviation_data_raw[aviation_data_raw.duplicated(keep=False)]

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
64030,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64050,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90004,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90010,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90031,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90090,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90097,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The duplicates seem to be mostly empty data, we can drop these rows

In [15]:
# Drop the duplicates
aviation_data_cleaned = aviation_data_cleaned.drop_duplicates()

In [16]:
#Confirm there are no duplicates in the cleaned data
aviation_data_cleaned.duplicated().value_counts()

False    88958
dtype: int64

In [17]:
# Check out dataframe
aviation_data_cleaned.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [18]:
# Check for duplicates in event_id
aviation_data_cleaned['event_id'].duplicated().value_counts()

False    87952
True      1006
Name: event_id, dtype: int64

In [19]:
# Investigate the event_id duplicates
aviation_data_cleaned[aviation_data_cleaned['event_id'].duplicated(keep=False)].sort_values(by=['event_id'])

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
45562,20001204X00086,Accident,LAX99LA086B,1999-01-29,"MADERA, CA",United States,NaN,NaN,MAE,MADERA MUNICIPAL AIRPORT,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Taxi,Probable Cause,30-11-2000
45564,20001204X00086,Accident,LAX99LA086A,1999-01-29,"MADERA, CA",United States,NaN,NaN,MAE,MADERA MUNICIPAL AIRPORT,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Taxi,Probable Cause,30-11-2000
45703,20001205X00276,Incident,CHI99IA100B,1999-03-02,"SALINA, KS",United States,NaN,NaN,NaN,NaN,...,Unknown,NaN,0.0,0.0,0.0,6.0,VMC,Cruise,Probable Cause,30-11-2000
45704,20001205X00276,Incident,CHI99IA100A,1999-03-02,"SALINA, KS",United States,NaN,NaN,NaN,NaN,...,Unknown,NaN,0.0,0.0,0.0,6.0,VMC,Cruise,Probable Cause,30-11-2000
45716,20001205X00305,Accident,DEN99LA047B,1999-03-05,"DENVER, CO",United States,NaN,NaN,DEN,DENVER INTERNATIONAL,...,Unknown,NaN,0.0,0.0,0.0,2.0,VMC,Taxi,Probable Cause,25-04-2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89440,NaN,02-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89492,NaN,05-08-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89763,NaN,08-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89943,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90090,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Observations**
- The duplicates seem to be caused by multiple accident numbers referring to the same event
- Some have different air carriers
- Some have different broad_phase_of_flight	
- We can likely keep one pair for each duplicate as the data is still good

In [20]:
# Drip duplicate events but keep the first reported event
aviation_data_cleaned = aviation_data_cleaned.drop_duplicates(subset=['event_id'], keep='first')

In [21]:
# Confirm there are no more event_id duplicates
aviation_data_cleaned['event_id'].duplicated().value_counts()

False    87952
Name: event_id, dtype: int64

### Removing undesired data 
We don't want all the data so let's remove what we don't want
- We only want USA based planes
- We don't want amateur built planes
- We don't want old data

In [22]:
# Investigate the data
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87952 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                87951 non-null  object
 1   investigation_type      87952 non-null  object
 2   accident_number         87951 non-null  object
 3   event_date              87951 non-null  object
 4   location                87899 non-null  object
 5   country                 87729 non-null  object
 6   latitude                34212 non-null  object
 7   longitude               34203 non-null  object
 8   airport_code            49601 non-null  object
 9   airport_name            52117 non-null  object
 10  injury_severity         86961 non-null  object
 11  aircraft_damage         84848 non-null  object
 12  aircraft_category       32181 non-null  object
 13  registration_number     86666 non-null  object
 14  make                    87888 non-null  object
 15  model                   87859 non-null  object
 16  amateur_built           87851 non-null  object
 17  number_of_engines       81924 non-null  float64
 18  engine_type             80927 non-null  object
 19  far_description         31915 non-null  object
 20  schedule                12360 non-null  object
 21  purpose_of_flight       81829 non-null  object
 22  air_carrier             16533 non-null  object
 23  total_fatal_injuries    76684 non-null  float64
 24  total_serious_injuries  75629 non-null  float64
 25  total_minor_injuries    76191 non-null  float64
 26  total_uninjured         82088 non-null  float64
 27  weather_condition       83478 non-null  object
 28  broad_phase_of_flight   60837 non-null  object
 29  report_status           81590 non-null  object
 30  publication_date        72894 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.5+ MB

In [23]:
# Including data only from the USA
usa_filter = aviation_data_cleaned['country'] == 'United States'
aviation_data_cleaned = aviation_data_cleaned[usa_filter]

In [24]:
# Check the value counts of country
aviation_data_cleaned['country'].value_counts()

United States    81355
Name: country, dtype: int64

In [25]:
# Drop the column since there is now only one value
aviation_data_cleaned = aviation_data_cleaned.drop('country', axis=1)
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81355 entries, 0 to 90347
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                81355 non-null  object
 1   investigation_type      81355 non-null  object
 2   accident_number         81355 non-null  object
 3   event_date              81355 non-null  object
 4   location                81344 non-null  object
 5   latitude                32103 non-null  object
 6   longitude               32093 non-null  object
 7   airport_code            48548 non-null  object
 8   airport_name            50990 non-null  object
 9   injury_severity         81250 non-null  object
 10  aircraft_damage         79453 non-null  object
 11  aircraft_category       28062 non-null  object
 12  registration_number     81318 non-null  object
 13  make                    81334 non-null  object
 14  model                   81317 non-null  object
 15  amateur_built           81335 non-null  object
 16  number_of_engines       79509 non-null  float64
 17  engine_type             78363 non-null  object
 18  far_description         28132 non-null  object
 19  schedule                10098 non-null  object
 20  purpose_of_flight       78979 non-null  object
 21  air_carrier             14389 non-null  object
 22  total_fatal_injuries    70828 non-null  float64
 23  total_serious_injuries  70149 non-null  float64
 24  total_minor_injuries    70781 non-null  float64
 25  total_uninjured         76389 non-null  float64
 26  weather_condition       80714 non-null  object
 27  broad_phase_of_flight   60283 non-null  object
 28  report_status           78756 non-null  object
 29  publication_date        67379 non-null  object
dtypes: float64(5), object(25)
memory usage: 19.2+ MB

**Removing Amateur Built Airplanes**

In [26]:
# Check out the data for amateur_built column
aviation_data_cleaned['amateur_built'].value_counts()

No     73068
Yes     8267
Name: amateur_built, dtype: int64

In [27]:
# We don't want any amateur built airplanes so let's remove the data 
pro_filter = aviation_data_cleaned['amateur_built'] == 'No'
aviation_data_cleaned = aviation_data_cleaned[pro_filter]

In [28]:
# Now drop the amateur_built column since all remaining aircraft are professionally built
aviation_data_cleaned = aviation_data_cleaned.drop('amateur_built', axis=1)
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73068 entries, 0 to 90347
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                73068 non-null  object
 1   investigation_type      73068 non-null  object
 2   accident_number         73068 non-null  object
 3   event_date              73068 non-null  object
 4   location                73058 non-null  object
 5   latitude                27974 non-null  object
 6   longitude               27967 non-null  object
 7   airport_code            43439 non-null  object
 8   airport_name            45668 non-null  object
 9   injury_severity         72963 non-null  object
 10  aircraft_damage         71187 non-null  object
 11  aircraft_category       24609 non-null  object
 12  registration_number     73031 non-null  object
 13  make                    73059 non-null  object
 14  model                   73053 non-null  object
 15  number_of_engines       71426 non-null  float64
 16  engine_type             70348 non-null  object
 17  far_description         24678 non-null  object
 18  schedule                9898 non-null   object
 19  purpose_of_flight       70695 non-null  object
 20  air_carrier             13412 non-null  object
 21  total_fatal_injuries    63705 non-null  float64
 22  total_serious_injuries  63167 non-null  float64
 23  total_minor_injuries    63746 non-null  float64
 24  total_uninjured         69027 non-null  float64
 25  weather_condition       72451 non-null  object
 26  broad_phase_of_flight   54773 non-null  object
 27  report_status           70750 non-null  object
 28  publication_date        60185 non-null  object
dtypes: float64(5), object(24)
memory usage: 16.7+ MB

**Removing Old Data**

The dates are in the `Event.Date` column in the format 'YYYY-MM-DD'

In [29]:
# Check chaging the Event.Date column to dates
pd.to_datetime(aviation_data_cleaned['event_date']).head()

0   1948-10-24
1   1962-07-19
2   1974-08-30
3   1977-06-19
4   1979-08-02
Name: event_date, dtype: datetime64[ns]

In [30]:
# Update the column to the correct datetime type
aviation_data_cleaned['event_date'] = pd.to_datetime(aviation_data_cleaned['event_date'])

In [31]:
# Confirm that it worked
aviation_data_cleaned['event_date'].head()

0   1948-10-24
1   1962-07-19
2   1974-08-30
3   1977-06-19
4   1979-08-02
Name: event_date, dtype: datetime64[ns]

In [32]:
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73068 entries, 0 to 90347
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                73068 non-null  object
 1   investigation_type      73068 non-null  object
 2   accident_number         73068 non-null  object
 3   event_date              73068 non-null  datetime64[ns]
 4   location                73058 non-null  object
 5   latitude                27974 non-null  object
 6   longitude               27967 non-null  object
 7   airport_code            43439 non-null  object
 8   airport_name            45668 non-null  object
 9   injury_severity         72963 non-null  object
 10  aircraft_damage         71187 non-null  object
 11  aircraft_category       24609 non-null  object
 12  registration_number     73031 non-null  object
 13  make                    73059 non-null  object
 14  model                   73053 non-null  object
 15  number_of_engines       71426 non-null  float64
 16  engine_type             70348 non-null  object
 17  far_description         24678 non-null  object
 18  schedule                9898 non-null   object
 19  purpose_of_flight       70695 non-null  object
 20  air_carrier             13412 non-null  object
 21  total_fatal_injuries    63705 non-null  float64
 22  total_serious_injuries  63167 non-null  float64
 23  total_minor_injuries    63746 non-null  float64
 24  total_uninjured         69027 non-null  float64
 25  weather_condition       72451 non-null  object
 26  broad_phase_of_flight   54773 non-null  object
 27  report_status           70750 non-null  object
 28  publication_date        60185 non-null  object
dtypes: datetime64[ns](1), float64(5), object(23)
memory usage: 16.7+ MB

Great! It looks like it worked, now let's investigate the timframes we are working with

In [33]:
aviation_data_cleaned['event_date'].dt.year.value_counts()

1982    3275
1983    3196
1984    3143
1985    2842
1986    2597
1987    2565
1988    2452
1989    2283
1990    2243
1991    2178
1992    2027
1993    2016
1995    1965
1994    1957
1996    1871
1997    1816
1999    1813
1998    1807
2000    1765
2003    1694
2001    1653
2002    1629
2005    1597
2007    1566
2004    1565
2008    1485
2006    1427
2011    1382
2010    1364
2009    1363
2012    1356
2016    1166
2013    1162
2018    1154
2017    1142
2015    1130
2019    1128
2014    1119
2022    1114
2021    1067
2020     987
1979       2
1977       1
1948       1
1981       1
1962       1
1974       1
Name: event_date, dtype: int64

In [34]:
# There are only a few datapoints before 1082 so let's remove them
aviation_data_cleaned = aviation_data_cleaned[aviation_data_cleaned['event_date'].dt.year >= 1982]

In [35]:
# Check to make sure we now only have the dates we want
aviation_data_cleaned['event_date'].dt.year.value_counts()

1982    3275
1983    3196
1984    3143
1985    2842
1986    2597
1987    2565
1988    2452
1989    2283
1990    2243
1991    2178
1992    2027
1993    2016
1995    1965
1994    1957
1996    1871
1997    1816
1999    1813
1998    1807
2000    1765
2003    1694
2001    1653
2002    1629
2005    1597
2007    1566
2004    1565
2008    1485
2006    1427
2011    1382
2010    1364
2009    1363
2012    1356
2016    1166
2013    1162
2018    1154
2017    1142
2015    1130
2019    1128
2014    1119
2022    1114
2021    1067
2020     987
Name: event_date, dtype: int64

In [36]:
aviation_data_cleaned['publication_date'].value_counts()

25-09-2020    12704
26-09-2020     1079
31-03-1993      399
25-11-2003      346
15-02-2001      325
              ...
06-08-1998        1
18-02-2022        1
30-07-1998        1
22-12-1988        1
12-10-2020        1
Name: publication_date, Length: 1986, dtype: int64

## Removing unneeded columns
Columns we don't need include:
- accident_number: we already have an event_id and have removed duplicates because of accident_numbers
- registration_number: private information not needed for the analysis
- publication_date: we don't need to know when the data was published for the analysis
- investigation_type: we don't need to know if the data was an accident or an incident

In [37]:
aviation_data_cleaned = aviation_data_cleaned.drop([
    'accident_number',
    'registration_number',
    'publication_date',
    'investigation_type'
    ], axis=1)
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73061 entries, 7 to 90347
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                73061 non-null  object
 1   event_date              73061 non-null  datetime64[ns]
 2   location                73051 non-null  object
 3   latitude                27972 non-null  object
 4   longitude               27965 non-null  object
 5   airport_code            43439 non-null  object
 6   airport_name            45668 non-null  object
 7   injury_severity         72956 non-null  object
 8   aircraft_damage         71180 non-null  object
 9   aircraft_category       24608 non-null  object
 10  make                    73052 non-null  object
 11  model                   73046 non-null  object
 12  number_of_engines       71420 non-null  float64
 13  engine_type             70342 non-null  object
 14  far_description         24677 non-null  object
 15  schedule                9897 non-null   object
 16  purpose_of_flight       70689 non-null  object
 17  air_carrier             13411 non-null  object
 18  total_fatal_injuries    63699 non-null  float64
 19  total_serious_injuries  63162 non-null  float64
 20  total_minor_injuries    63741 non-null  float64
 21  total_uninjured         69021 non-null  float64
 22  weather_condition       72444 non-null  object
 23  broad_phase_of_flight   54766 non-null  object
 24  report_status           70743 non-null  object
dtypes: datetime64[ns](1), float64(5), object(19)
memory usage: 14.5+ MB

We also want to remove columns with low data coverage

In [47]:
missing_data = (aviation_data_cleaned.isna().sum() / len(aviation_data_cleaned)).sort_values(ascending=False)
missing_data

schedule                  0.864538
air_carrier               0.816441
aircraft_category         0.663186
far_description           0.662241
longitude                 0.617238
latitude                  0.617142
airport_code              0.405442
airport_name              0.374933
broad_phase_of_flight     0.250407
total_serious_injuries    0.135490
total_fatal_injuries      0.128139
total_minor_injuries      0.127565
total_uninjured           0.055296
engine_type               0.037215
purpose_of_flight         0.032466
report_status             0.031727
aircraft_damage           0.025746
number_of_engines         0.022461
weather_condition         0.008445
injury_severity           0.001437
model                     0.000205
location                  0.000137
make                      0.000123
event_date                0.000000
event_id                  0.000000
dtype: float64

**Observations**
- We can likely exclude the columns with significant missing data
- We should keep those relevant to our business questions such as `airport_code` and `airport_name`

In [60]:
# Pull out columns to drop
columns_to_drop = missing_data[missing_data.values > 0.6].index.to_list()
columns_to_drop

['schedule',
 'air_carrier',
 'aircraft_category',
 'far_description',
 'longitude',
 'latitude']

In [61]:
aviation_data_cleaned = aviation_data_cleaned.drop(columns_to_drop, axis=1)
aviation_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73061 entries, 7 to 90347
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                73061 non-null  object
 1   event_date              73061 non-null  datetime64[ns]
 2   location                73051 non-null  object
 3   airport_code            43439 non-null  object
 4   airport_name            45668 non-null  object
 5   injury_severity         72956 non-null  object
 6   aircraft_damage         71180 non-null  object
 7   make                    73052 non-null  object
 8   model                   73046 non-null  object
 9   number_of_engines       71420 non-null  float64
 10  engine_type             70342 non-null  object
 11  purpose_of_flight       70689 non-null  object
 12  total_fatal_injuries    63699 non-null  float64
 13  total_serious_injuries  63162 non-null  float64
 14  total_minor_injuries    63741 non-null  float64
 15  total_uninjured         69021 non-null  float64
 16  weather_condition       72444 non-null  object
 17  broad_phase_of_flight   54766 non-null  object
 18  report_status           70743 non-null  object
dtypes: datetime64[ns](1), float64(5), object(13)
memory usage: 11.1+ MB

## Conclusion
We now have a cleaned up data set with mostly non-null values and have focused on the columns we need